body {
  background-color: mintcream;
  color: darkslategrey;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    
        border: 1px solid;
        border-style: dotted;
        width: 50%;
        text-align: center;
        background-color: whitesmoke;
        
      }

table, th, td {
        border: 1px solid white;
        border-collapse: collapse;
      }

      tr:hover {
        background-color: #fac6e8;
      }

form {
  width: 100%;
  background-color: whitesmoke;
  
}
    